.sidebar {
    -fx-background-color: linear-gradient(to bottom, #5aac4e, #225229);
}

.sidebar-btn {
    -fx-background-color: transparent;
}

.sidebar-btn-text {
    -fx-text-fill: #757482;
}

.sidebar-btn-icon {
    -fx-fill: #757482;
}

.sidebar-btn:hover {
    -fx-border-width: 0px 3px 0px 0px;
    -fx-border-color: #fff;
    -fx-border-style: solid;
}

.sidebar-btn:hover .sidebar-btn-icon {
    -fx-fill: #fff;
}

.sidebar-btn:hover .sidebar-btn-text {
    -fx-text-fill: #fff;
}

.top-bar {
    -fx-background-color: rgba(73, 16, 69, 0.8);
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.pink-button {
    -fx-background-color: #FF1145;
    -fx-background-radius: 100;
}

.green-button {
    -fx-background-color: #5AAC4E;
    -fx-background-radius: 100;
}
.orange-button {
    -fx-background-color: #ff8000;
    -fx-background-radius: 100;
}

.transparent-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 100;
}

.shadow {
    -fx-effect: dropShadow(one-pass-box, rgba(0, 0, 0, 0.3), 10.0, 0.0, 0.0, 10.0);
}

.offer-background {
    -fx-background-color: rgba(73, 16, 69, 0.8);
    -fx-background-radius: 30;
}
.text-field-search {
    -fx-background-color: #f0f0f0; /* Background color */
    -fx-border-color: #5AAC4E
; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 5px; /* Padding */
    -fx-font-size: 14px; /* Font size */
    -fx-font-family: Arial, sans-serif; /* Font family */
}

.sidebar-buttons {
    width: 100%;
}

/* Style for individual sidebar buttons */
.sidebar-button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50; /* Default button background color */
    border: none;
    border-radius: 8px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Hover effect for sidebar buttons */
.sidebar-button:hover {
    background-color: #45a049; /* Button background color on hover */
}

/* Active button style */
.sidebar-button.active {
    background-color: #45a049; /* Active button background color */
}